body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}

.page1{
    width: 300px ;
    height: 220px;
    margin: 50px  auto  ;
    position: relative;
    background: grey;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.regist{ 
    margin-top: 35px;
    width: 100px;
  
}


.wrapper{
    display: flex;
    justify-content: space-evenly;

}

    

.button,
.button2 {  
    
    margin-top : 20px;
    
    width : 100px;
} 


